/* TableRow.css */
.focused-cell {
    background-color: rgb(158, 241, 179) !important;
    outline: none;
}

#deleteRow {
    width: 75px !important;
    height: 75px !important;
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
}

.transparent {
    background-color: rgba(223, 212, 212, 0.7) !important;
}

#addRow {
    width: 75px !important;
    height: 75px !important;
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
}
