/* TableRow.css */
#table-row .focused-cell {
    background-color: rgb(158, 241, 179) !important;
    outline: none;
}

#table-row #deleteRow {
    background-color: transparent !important;
    outline: none !important;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

#table-row .transparent {
    background-color: rgb(240, 92, 92) !important;
}

#table-row #addRow {
    background-color: transparent !important;
    outline: none !important;
    border-top: none;
    border-left: none;
    border-bottom: none;
    
}

#table-row .no-outline:focus {
    outline: none !important;
    box-shadow: none !important;
}

#deleteImg {
    width: 100% !important;
    height: 100% !important;
}

#deleteBtn {
    width: 25px !important;
    height: 25px !important;
    background-color: transparent
}
