#logout-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 0;
    border: none;
    background-color: #DC3545; /* Secondary color to match the button class */
    cursor: pointer;
  }
  
  #logout-btn img {
    width: 30px;
    height: 30px;
  }
  
  #logout-btn::before {
    content: attr(title);
    position: absolute;
    bottom: -20px;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s, bottom 0.3s;
    white-space: nowrap;
    display: none;
  }
  
  #logout-btn:hover::before {
    opacity: 1;
    bottom: 60px;
    display: block;
  }
  