@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');



h2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 1;
  color: #454cad;
  margin-bottom: 0;
  font-weight: bold;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #5f6982;
}

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;

  #file-drag {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all .2s ease;
    user-select: none;

    &:hover {
      border-color: #454cad;
    }
    &.hover {
      border: 3px solid #454cad;
      box-shadow: inset 0 0 0 6px #eee;
      
      #start {
        i.fa {
          transform: scale(0.8);
          opacity: 0.3;
        }
      }
    }
  }

  #start {
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
    i.fa {
      font-size: 50px;
      margin-bottom: 1rem;
      transition: all .2s ease-in-out;
    }
  }
  #response {
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
    #messages {
      margin-bottom: .5rem;
    }
  }

  #file-upload {
    display: none;
  }
  #file-image {
    margin: 0 auto .5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
    &.hidden {
      display: none;
    }
  }
  
  #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
  }

  progress,
  .progress {
    appearance: none;
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
  }

  .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
  }

  .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, darken(#454cad,8%) 0%, #454cad 50%);
    border-radius: 4px; 
  }
  .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, darken(#454cad,8%) 0%, #454cad 50%);
    border-radius: 4px; 
  }

  #border-left-important {
    border-left-width: 1px !important;
  }

  .th#border-left-importantcell100.first-column.blue {
    border-left-width: 1px !important;
  }

  input[type="file"] {
    display: none;
  }

  div {
    margin: 0 0 .5rem 0;
    color: #5f6982;
  }
  .btn {
    display: inline-block;
    margin: .5rem .5rem 1rem .5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: .2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
  }
}
#upload_screen {
    background-image: url('../../public/gradient-background-light-blue.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }

.btn-container {
  vertical-align: bottom;
}
.upload-image{
  max-width: 25%; /* Ensure the image doesn't exceed the button width */
    max-height: 25%; /* Ensure the image doesn't exceed the button height */
    vertical-align: middle; /* Align the image vertically in the middle */
}

#inform {
  height: fit-content !important;
}

.badge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #454cad;
}

.close {
  margin-left: 10px; /* Adjust the margin as needed for spacing between text and button */
}

.file-added {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;

  #file-drag {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all .2s ease;
    user-select: none;

  }
}

/* width */
.scrollbar::-webkit-scrollbar {
  width: 10px;
  margin: 0;
  padding: 0;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}

.scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 15px; /* Set the width of the scrollbar */
  height: 15px;
}

.not-uploaded-button {
  background-color: rgb(250, 197, 197);
  color: black;
  border: 0px;
}
.uploaded-button {
  background-color: rgb(173, 248, 173);
  color: black;
  border: 0px;
}

.not-uploaded-current-button {
  background-color: #DC3545;
  color: black;
  border: 0px;
}

.uploaded-current-button {
  background-color: #28A745;
  color: black;
  border: 0px;
}